@model IEnumerable<KUSYS_Demo.Models.Entities.ViewModelList>
@{
    //var list=
}
@foreach (var item in Model)
{
    <div class="col-sm-6 col-xl-4 mt-4">
        <div class="card text-center border-0 rounded-3">
            <div class="card-body">
                <i class="ti-bookmark-alt icon-box medium rounded-3 mb-4"></i>
                <h3 class="h5 mb-3">@item.CourseName</h3>
                <p class="mb-0">@item.Description</p>
            </div>
        </div>
    </div>

}